body {
  background-image: none;
  overflow: hidden;
}
h1 {
  font-size: 48px;
}
#content {
  position: absolute;
  width: 100%;
}

.drop-el {
  position: absolute;
  top: -100px;
  animation: drop-element 6s ease-in 0s infinite;
}
@keyframes drop-element {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(1080px);
  }
}
