body, button, span, textarea, select, legend {
  font-size: 18px;
}
body {
  background-image: none;
  overflow: hidden;
}
h1 {
  font-size: 32px;
  margin: 32px 0 12px;
}
form {
  width: 92%;
  margin: 4%;
  border:solid 1px black;
  padding: 10px;
}
form select, form input.submit {
  margin-top: 8px;
}
form input.submit {
  float: right;
}

#content {
  position: relative;
  display:flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.btn-deck {
  height: min-content;
}

.btn-row {
  position: relative;
  width: 800px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: var(--cmpl-2);
  border-radius: 12px;
  margin-bottom: 24px;
  overflow: hidden;
  box-shadow: 10px 10px 5px grey;
  height: min-content;
  transition: height 1s ease;
}
.btn-row > .header {
  margin: 0;
  width: 100%;
  height: min-content;
  background-color: var(--cmpl-3);
}
.btn-row > .header, h1 {
  display: inline;
}
.btn-row > .header, i {
  float: right;
  padding: 16px;
}

button {
  border: none;
  background-color: var(--scnd-1-1);
  padding: 4px 12px;
  border-radius: 4px;
  width: 120px;
  height: 60px;
  border: solid 6px var(--scnd-1-dark);
  transition: border 1s ease-in;
  margin: 16px;
}
button:active {
  border: solid 0 transparent;
  transition: border 1s ease-out;
}
textarea {
  display: block;
  width: 99%;
  height: 60px;
  resize: none;
}
.btn-row a {
  margin: 8px;
}
