p {
  margin: 10px 0px;
  font-size: 24px;
}
h1 {
  font-size: 64px;
}
h1, h2, hr {
  position: relative;
  margin: 0;
}

#content {
  margin: auto;
  display: flex;
  flex-flow: row;
  position: relative;
  justify-content: center;
  align-content: center;
  width: 100%;
}
#cartel > div {
  margin: 32px 0;
}
#cartel {
  display: flex;
  padding: 24px;
  align-items: center;
  flex-flow: column;
}
.borde-colorido {
  margin: 16px;
}
#content .heart, #content .borde-colorido {
  display: inline-block;
}

h1, .timer, #content {
  color: var(--txt-light);
}
.timer {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.message {
  display: flex;
  align-items: center;
  flex-flow: column;
}
.message hr{
  width: 100%;
}
