body {
  background-image: url("../images/background.png");
}
h1 {
  font-size: 48px;
}
h1,
#content {
  color: var(--scnd-1-dark);
}
#content {
  position: relative;
  height: 1080px;
  width: 1920px;
  display: flex;
  align-items: center;
  flex-flow: column;
}
#principal, #chat {
  position: absolute;
}
#principal{
  top: 14%;
  left: 2%;
  width: 58%;
  height: 58%;
  background-color: var(--croma-key);
}
#chat  {
  background-color: black;
  right: 3%;
  top: 5%;
  width: 30%;
  height: 87%;
}
