body {
  background-image: url("../images/background.png");
}
h1 {
  top: 2%;
  left: 28.5%;
  font-size: 48px;
}
h1,
#content {
  color: var(--scnd-1-dark);
}
#content {
  position: relative;
  height: 1080px;
  width: 1920px;
  display: flex;
  align-items: center;
  flex-flow: column;
}
#principal, #chat, h1 {
  position: absolute;
}
#principal{
  top: 14%;
  left: 0.9%;
  width: 65%;
  height: 65%;
  background-color: var(--croma-key);
}
#chat  {
  background-color: black;
  border-radius: 0;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 97%;
}
