:root {
  --prmr-light: #730650;
  --prmr-1: #b30179;
  --prmr-2: #8e0963;
  --prmr-3: #510036;
  --prmr-dark: #2f0020;

  --scnd-1-light: #974e08;
  --scnd-1-1: #eb7302;
  --scnd-1-2: #ba610b;
  --scnd-1-3: #693300;
  --scnd-1-dark: #3e1e00;

  --scnd-2-light: #151569;
  --scnd-2-1: #1a1aa4;
  --scnd-2-2: #1a1a82;
  --scnd-2-3: #0b0b4a;
  --scnd-2-dark: #06062b;

  --cmpl-light: #698e08;
  --cmpl-1: #a0de01;
  --cmpl-2: #82b00b;
  --cmpl-3: #486400;
  --cmpl-dark: #2a3b00;

  --txt-light: #fff;
  --bdr-light: #d3d3d3;
  --bg-darknest: #111;
  --bg-dark: #222;
  --bg-semi-dark: #333;
  --bg-semi-light: #d3d3d3;
  --bg-light: #fff;

  --croma-key: #00ff00;
}

html,
body {
  height: 100%;
}

body {
  font-size: 24px;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.borde-colorido {
  position: relative;
  flex-shrink: 0;
  border: solid 16px black;
  border-radius: 16px;
}
.a,
.b {
  position: absolute;
  border: solid 13px black;
  border-radius: 8px;
}

.a {
  width: 95px;
  height: 10px;
  animation: changecolora 4s infinite;
}

@keyframes changecolora {
  0% {
    background-color: var(--prmr-1);
  }
  50% {
    background-color: var(--prmr-dark);
  }
  100% {
    background-color: var(--prmr-1);
  }
}

.b {
  width: 10px;
  height: 56px;
  background-color: var(--scnd-2-3);
  animation: changecolorb 4s infinite;
}

@keyframes changecolorb {
  0% {
    background-color: var(--scnd-2-dark);
  }
  50% {
    background-color: var(--scnd-2-1);
  }
  100% {
    background-color: var(--scnd-2-dark);
  }
}
/* Positions */
.l.a, .l.b {
  top: -16px;
  left: -16px;
}
.l.b {
  top: 12px;
}
.r.a, .r.b {
  bottom: -16px;
  right: -16px;
}
.r.b {
  bottom: 12px;
}
