<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Stream Tools</title>
    <link href="/css/main.css" rel="stylesheet" />
    <% styles.forEach(function(style){ %>
    <link href="/css/<%- style %>" rel="stylesheet" />
    <% }); %>

    <% if(typeof socket === "boolean" && socket) { %>
      <script src="/socket.io/socket.io.js"></script>
      <script>
        const socket = io("http://<%= serverAddress %>", {secure: true, "sync disconnect on unload": true});
      </script>
    <% } %>

    <% if(typeof scripts == "object" && scripts) { %>
      <% scripts.forEach(function(script){ %>
        <script src="<%- script %>"></script>
      <% }); %>
    <% } %>
        <script src="https://kit.fontawesome.com/7977e91dcc.js" crossorigin="anonymous"></script>
  </head>
