<%- include("../../partials/head.html", {styles: ["countdown.css", "icons.css"]}); %>
  <body>
    <div id="content">
      <div class="heart">
        <div class="before"></div>
        <div class="core"></div>
        <div class="after"></div>
      </div>

      <div class="borde-colorido">
        <div id="cartel">
          <h1>¡¡¡BIENVENIDOS!!!</h1>
          <div class="message">
            <h2>COMENZAMOS</h2>
            <hr />
            <h2>PRONTO</h2>
          </div>
          <p>Tiempo hasta que comience el desastre <span id="timer"></span></p>
        </div>
        <div class="tl-a"></div>
        <div class="tl-b"></div>
        <div class="br-a"></div>
        <div class="br-b"></div>
      </div>

      <div class="heart">
        <div class="before"></div>
        <div class="core"></div>
        <div class="after"></div>
      </div>
    </div>
    <script src="/js/index.js"></script>
  </body>
</html>
