<%- include("../../partials/head.html", {styles: ["desktop.css"]}); %>
  <body>
    <div id="content">
      <h1>Perjupolis</h1>
      <div id="principal" class="borde-colorido">
        <div class="l a"></div>
        <div class="l b"></div>
        <div class="r a"></div>
        <div class="r b"></div>
      </div>
      <div id="chat" class="borde-colorido">
        <div class="l a"></div>
        <div class="l b"></div>
        <div class="r a"></div>
        <div class="r b"></div>
      </div>
    </div>
  </body>
</html>
