<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Perju</title>
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/countdown.css" rel="stylesheet" />
    <link href="/css/heart.css" rel="stylesheet" />
  </head>
  <body>
    <div class="heart">
      <div class="before"></div>
      <div class="core"></div>
      <div class="after"></div>
    </div>

    <div id="content" class="borde-colorido">
      <div>
        <h1>¡¡¡ESTAMOS ACABANDO!!!</h1>
        <div class="message">
          <h2>HASTA</h2>
          <hr />
          <h2>PRONTO</h2>
        </div>
      </div>
    </div>

    <div class="heart">
      <div class="before"></div>
      <div class="core"></div>
      <div class="after"></div>
    </div>
  </body>
</html>
