<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Perju</title>
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/control-panel.css" rel="stylesheet" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/alerts-panel.js"></script>
  </head>
  <body>
    <div id="content">
      <div class="btn-deck">
        <h1>Stream Deck</h1>
        <div class="btn-row">
          <% buttons.forEach( b =>{ %>
          <button
            class="obs"
            disabled="true"
            value="<%- b.value %>"
            action="<%- b.action %>"
          >
            <%- b.text %>
          </button>
          <% }) %>
        </div>
        <h1>Control de las alertas</h1>
        <div class="btn-row">
          <div>
            <button id="happy" disabled="true">Alegriaa</button>
          </div>
        </div>
        <h1>Control bot Twitch</h1>
        <div class="btn-row">
          <div>
            <button class="twitch" disabled="true">Start advises</button>
          </div>
          <div>
            <button class="twitch" disabled="true">Stop advises</button>
          </div>
        </div>
        <h1>Controles de Texto a voz</h1>
        <div class="btn-row">
          <form id="submitTTS">
            <legend>Texto a voz</legend>
            <textarea name="text">Nunca te rindas</textarea>
            <label for="voiceSelect">
              <span>Voz:</span>
              <select id="voiceSelect" name="voice">
                <option value="es" selected="selected">es - Spanish</option>
                <option value="es-419">es-la - Spanish, Latam</option>
                <option value="en">en - English</option>
                <option value="en-us">en-us - English, US</option>
                <option value="en-gb-scotland">English, Scottish</option>
                <option value="ca">Catalan</option>
                <option value="cs">Czech</option>
                <option value="de">German</option>
                <option value="el">Greek</option>
                <option value="eo">Esperanto</option>
                <option value="fi">Finnish</option>
                <option value="fr">French</option>
                <option value="hu">Hungarian</option>
                <option value="it">Italian</option>
                <option value="kn">Kannada</option>
                <option value="la">Latin</option>
                <option value="lv">Latvian</option>
                <option value="nl">Dutch</option>
                <option value="pl">Polish</option>
                <option value="pt">Portuguese, Eu</option>
                <option value="pt-br">Portuguese, Br</option>
                <option value="ro">Romanian</option>
                <option value="sk">Slovak</option>
                <option value="sv">Swedish</option>
                <option value="tr">Turkish</option>
                <option value="zh">Mandarin (Pinyin)</option>
                <option value="yue">Cantonese Chinese</option>
              </select>
            </label>
            <span>Variante:</span>
            <select id="variantSelect" name="variant">
              <option value="" selected>None</option>
              <option value="+zac">niño zac</option>
              <option value="+croak">croak</option>
              <option value="+klatt">klatt</option>
              <option value="+klatt2">klatt2</option>
              <option value="+klatt3">klatt3</option>
              <option value="+whisper">Susurro</option>
              <option value="+whisperf">Susurro Fem</option>
              <option value="+f1">Femenino 1</option>
              <option value="+f2">Femenino 2</option>
              <option value="+f3">Femenino 3</option>
              <option value="+f4">Femenino 4</option>
              <option value="+f5">Femenino 5</option>
              <option value="+m1">Masculino 1</option>
              <option value="+m2">Masculino 2</option>
              <option value="+m3">Masculino 3</option>
              <option value="+m4">Masculino 4</option>
              <option value="+m5">Masculino 5</option>
              <option value="+m6">Masculino 6</option>
              <option value="+m7">Masculino 7</option>
              <option value="+Andy">Andy</option>
              <option value="+Jacky">Jacky</option>
            </select>
            <input type="submit" class="submit" value="Leer" disabled="true" />
          </form>
        </div>
        <a
          href="https://www.twitch.tv/embed/<%- process.env.CHANNEL_ID %>/chat?parent=www.twitch.tv"
          target="_blank"
          >Enlace al chat de la transmisión</a
        >
      </div>
    </div>
  </body>
</html>
