<%- include("../partials/head.html", {styles: ["/css/main.css", "/css/ingame.css"]}); %>
  <body>
    <div id="content">
      <h1>Perju's Land</h1>
      <div id="layers">
        <h2>Capas</h2>
        <ul>
          <li><a href="/layers/countdown.html">Empezando</a></li>
          <li><a href="/layers/ingame.html">Jugando</a></li>
          <li><a href="/layers/desktop.html">Escritorio</a></li>
          <li><a href="/layers/final.html">Terminando</a></li>
        </ul>
      </div>
      <div id="fondos">
        <h2>Fondos</h2>
        <ul>
          <li><a href="/backgrounds/fondo.html">Fondo</a></li>
        </ul>
      </div>
      <div id="alerts">
        <h2>Alertas</h2>
        <ul>
          <li><a href="/alerts/alerts.html">Alertas</a></li>
        </ul>
      </div>
      <div id="tools">
        <h2>Herramientas</h2>
        <ul>
          <li><a href="/control-panel.html">Panel de control de alertas</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
